{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
    {{ super() }}

    <!--
        after this comment we add css of script files
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css'  ) }}">


    {% block extra_styles%}
    {% endblock %}

{% endblock %}

{% block body %}
    {% include 'header.html' %}

  <main role="main">

    <div class="flash-container">                
      {{ macros.display_flash_alerts() }}
    </div>
    
  
    {%block content%}    
    {%endblock%}
  
  </main>

    <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>Todo APP &copy; </p>          
        </div>
      </footer>

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    {% block extra_scripts%}
    {% endblock %}

{% endblock %}